*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    background-color: #1a6a9c;
    color: white;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(22, 35, 53)) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.headertitle, a{
    
    color: white;
    text-decoration: none;
}
.hometitle{
    font-size: 25px;
    text-align: left;
    padding: 40px 0;
}
.filmes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    gap: 20px;
}
.poster{
    border-radius: 10px;
    height: 400px;
}
.filmeCartaz{
    display: flex;
    flex-direction: column;
    height: 0px;
    width: 300px;
    gap: 10px;
}
img{
    transition: 0.2s;
}
img:hover{
    -webkit-box-shadow: 0px 0px 102px -17px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 102px -17px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 102px -17px rgba(255,255,255,0.4);
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70vh;
    padding: 30px 0;
}
@media (max-width: 768px){
    .filmes{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 600px;
    }
    .footer{
        margin-top: 60vh;
    }
}